<a href="https://colab.research.google.com/github/oba-nijesu/oba-nijesu/blob/main/KLUSTERTON_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
crop = pd.read_csv('Crop_Data.csv')
crop

,temperature,humidity,ph,water availability,season,label,Country,harvest season
0,20.879744,82.002744,6.502985,202.935536,rainy,rice,Nigeria,spring
1,21.770462,80.319644,7.038096,226.655537,rainy,rice,Nigeria,winter
2,23.004459,82.320763,7.840207,263.964248,rainy,rice,Nigeria,rainy
3,26.491096,80.158363,6.980401,242.864034,rainy,rice,Nigeria,rainy
4,20.130175,81.604873,7.628473,262.717340,rainy,rice,Nigeria,spring
...,...,...,...,...,...,...,...,...
1395,23.874845,86.792613,6.718725,177.514731,rainy,jute,South Africa,winter
1396,23.928879,88.071123,6.880205,154.660874,rainy,jute,South Africa,winter
1397,24.814412,81.686889,6.861069,190.788639,rainy,jute,Nigeria,summer
1398,24.447439,82.286484,6.769346,190.968489,rainy,jute,Nigeria,summer
1399,26.574217,73.819949,7.261581,159.322307,rainy,jute,South Africa,summer

In [ ]:
# Using pandas get_dummies for one-hot encoding
data_onehot = pd.get_dummies(crop, columns=['season', 'harvest season','label','Country'])
data_onehot

,temperature,humidity,ph,water availability,season_rainy,season_spring,season_summer,season_winter,harvest season_rainy,harvest season_spring,...,label_mothbeans,label_mungbean,label_muskmelon,label_pigeonpeas,label_rice,label_watermelon,Country_Kenya,Country_Nigeria,Country_South Africa,Country_Sudan
0,20.879744,82.002744,6.502985,202.935536,1,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
1,21.770462,80.319644,7.038096,226.655537,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,23.004459,82.320763,7.840207,263.964248,1,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
3,26.491096,80.158363,6.980401,242.864034,1,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
4,20.130175,81.604873,7.628473,262.717340,1,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,23.874845,86.792613,6.718725,177.514731,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1396,23.928879,88.071123,6.880205,154.660874,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1397,24.814412,81.686889,6.861069,190.788639,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1398,24.447439,82.286484,6.769346,190.968489,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1399,26.574217,73.819949,7.261581,159.322307,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
y = data_onehot[['harvest season_rainy', 'harvest season_spring', 'harvest season_summer', 'harvest season_winter']]
y

,harvest season_rainy,harvest season_spring,harvest season_summer,harvest season_winter
0,0,1,0,0
1,0,0,0,1
2,1,0,0,0
3,1,0,0,0
4,0,1,0,0
...,...,...,...,...
1395,0,0,0,1
1396,0,0,0,1
1397,0,0,1,0
1398,0,0,1,0
1399,0,0,1,0

In [ ]:
common_columns = data_onehot.columns.intersection(y.columns)

In [ ]:
x = data_onehot.drop(common_columns, axis=1)
x

,temperature,humidity,ph,water availability,season_rainy,season_spring,season_summer,season_winter,label_blackgram,label_chickpea,...,label_mothbeans,label_mungbean,label_muskmelon,label_pigeonpeas,label_rice,label_watermelon,Country_Kenya,Country_Nigeria,Country_South Africa,Country_Sudan
0,20.879744,82.002744,6.502985,202.935536,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,21.770462,80.319644,7.038096,226.655537,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,23.004459,82.320763,7.840207,263.964248,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,26.491096,80.158363,6.980401,242.864034,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,20.130175,81.604873,7.628473,262.717340,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,23.874845,86.792613,6.718725,177.514731,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1396,23.928879,88.071123,6.880205,154.660874,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1397,24.814412,81.686889,6.861069,190.788639,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1398,24.447439,82.286484,6.769346,190.968489,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1399,26.574217,73.819949,7.261581,159.322307,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
# Using scikit-learn MultiOutputRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2)

regr = MultiOutputRegressor(DecisionTreeRegressor())
regr.fit(x_train, y_train)

MultiOutputRegressor(estimator=DecisionTreeRegressor())

In [ ]:
x_train

,temperature,humidity,ph,water availability,season_rainy,season_spring,season_summer,season_winter,label_blackgram,label_chickpea,...,label_mothbeans,label_mungbean,label_muskmelon,label_pigeonpeas,label_rice,label_watermelon,Country_Kenya,Country_Nigeria,Country_South Africa,Country_Sudan
1022,25.794489,84.268307,6.762472,56.452292,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
346,23.461683,23.221976,5.645436,95.842534,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1267,23.964313,76.591759,7.994680,76.130906,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
295,17.341502,18.756263,8.861480,67.954543,0,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
461,34.872487,38.837860,5.180272,148.250279,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,28.472126,91.213221,6.160414,20.886204,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
911,24.840167,68.358457,6.472523,74.054749,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
980,25.974824,69.363857,6.822587,103.223421,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1346,26.127972,80.491726,7.132389,150.632687,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
593,24.018254,53.766234,7.214079,35.034044,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [ ]:
y_train

,harvest season_rainy,harvest season_spring,harvest season_summer,harvest season_winter
1022,0,0,0,1
346,0,0,0,1
1267,0,0,0,1
295,0,1,0,0
461,0,0,0,1
...,...,...,...,...
1115,0,0,0,1
911,0,0,1,0
980,1,0,0,0
1346,1,0,0,0
593,1,0,0,0

In [ ]:
x_test

,temperature,humidity,ph,water availability,season_rainy,season_spring,season_summer,season_winter,label_blackgram,label_chickpea,...,label_mothbeans,label_mungbean,label_muskmelon,label_pigeonpeas,label_rice,label_watermelon,Country_Kenya,Country_Nigeria,Country_South Africa,Country_Sudan
1104,29.916906,94.556956,6.117530,28.160572,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
311,17.154330,19.870707,5.566523,87.996697,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
898,20.971953,63.831799,7.630424,53.102079,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
182,18.661162,61.553272,6.121294,75.032477,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
163,26.549864,72.891873,5.787268,73.336361,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,17.302879,15.154059,6.649196,75.577904,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
1174,27.088080,93.424021,6.781050,25.321597,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,23.004459,82.320763,7.840207,263.964248,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
517,28.174894,43.667230,4.524172,45.781728,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
280,17.489117,16.390554,7.489545,79.457583,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
y_test

,harvest season_rainy,harvest season_spring,harvest season_summer,harvest season_winter
1104,1,0,0,0
311,1,0,0,0
898,0,0,0,1
182,0,0,1,0
163,1,0,0,0
...,...,...,...,...
252,0,0,0,1
1174,1,0,0,0
2,1,0,0,0
517,0,1,0,0
280,0,0,0,1

In [ ]:
y_preds = clf.predict(x_test)
y_preds

array([[1, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 1],
       ...,
       [1, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1]], dtype=uint8)

In [ ]:
predictions_df = pd.DataFrame(y_preds, columns=y.columns)
predictions_df

,harvest season_rainy,harvest season_spring,harvest season_summer,harvest season_winter
0,1,0,0,0
1,1,0,0,0
2,0,0,0,1
3,0,0,1,0
4,1,0,0,0
...,...,...,...,...
275,0,0,0,1
276,1,0,0,0
277,1,0,0,0
278,0,0,0,0
279,0,0,0,1

In [ ]:
clf.score(x_test, y_test)

0.8285714285714286

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.94      0.87      0.91        71
           1       0.95      0.80      0.87        71
           2       0.96      0.87      0.91        75
           3       1.00      0.76      0.86        63

   micro avg       0.96      0.83      0.89       280
   macro avg       0.96      0.83      0.89       280
weighted avg       0.96      0.83      0.89       280
 samples avg       0.83      0.83      0.83       280

/Users/obanijesuadeyemo/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
accuracy_score(y_test,y_preds)

0.8285714285714286

In [ ]:
import pickle
pickle.dump(clf, open('klusterton_model_2.pk1', 'wb'))

In [ ]:
loaded_model = pickle.load(open('klusterton_model_2.pk1', 'rb'))
loaded_model.score(x_test, y_test)

0.8285714285714286

In [ ]:
import secrets

# Generate a secure random API key
api_key = secrets.token_urlsafe(32)
print(f"Generated API Key: {api_key}")

Generated API Key: Gh6YgZdbjoA-PLttiulQPXKdR-L6AZAavwz0jbk7oe8

In [ ]:
import pickle
from flask import Flask, request, jsonify
from flask_restful import Api, Resource

app = Flask(__name__)
api = Api(app)

# Replace 'your_api_key' with your actual API key
api_key = 'Gh6YgZdbjoA-PLttiulQPXKdR-L6AZAavwz0jbk7oe8'

with open('klusterton_model_2.pk1', 'rb') as file:
    model = pickle.load(file)

class Predict(Resource):
    def post(self):
        try:
            data = request.get_json(force=True)

            # Adjust based on your data structure
            features = [data['temperature'], data['humidity'], data['ph'], data['water_availability'], data['season_rainy'], data['season_spring'],data['season_summer'],data['season_winter']]

            # Make predictions using your model
            predictions = model.predict([features])  # Assuming your model expects a list of feature vectors

            # Return the predictions as JSON
            return jsonify({'predictions': predictions.tolist()})
        except Exception as e:
            return jsonify({'error': str(e)})

# Add the resource with API key authentication
api.add_resource(Predict, '/predict', resource_class_kwargs={'api_key': api_key})

if __name__ == '__main__':
    app.run(port=6000)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:6000
Press CTRL+C to quit